*{
	box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;
	background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,233,228,0.8660714285714286) 100%);
}
 .container{
  position: relative;
 } 
 .center{
 	position: absolute;
    margin-top: 22%;
    /* top: -128%; */
    width: 80%;
    padding: 30px;
    background-color: rgba(0,0,0,0.1);
    color: #fff;


   
}
.btn-primary{
	text-align: center;
	background-color: rgb(0,255,255,0.8);
	 font-size: 20px;
    padding: 10px 106px;
    color: #fff;
    border-radius: 20px;

}
  
  /* Center vertically and horizontally */
  
  
 }
